#header {
    border-bottom: 1px solid #ffffff;
}
.header-logo {
    font-family: 'Yesteryear', cursive;
    font-size: 36.91px !important;
    color: #ffffff !important;
}
.nav-link {
    color: #ffffff !important;
    font-family: 'Vollkorn', serif;
    font-size: 15px;
    margin-right: 33px;
    padding: 0 !important;
}
.nav-link:last-child {
    margin-right: 0;
}