#header {
    position: fixed;
    z-index: 9999999;
    right: 0;
    left: 0;
    margin: 0 auto;
    transition: 1s;
    .header-logo {
        img {
            width: 43px !important;
        }
        h1 {
            font-family: $font04;
            font-size: 36.91px !important;
            color: $color01;
            margin-bottom: 0;
            transition: 1s;
        }
    }
    .nav-link {
        color: #ffffff;
        font-family: $font04;
        font-size: 15px;
        margin-right: 33px;
        padding: 5px 5px !important;
        position: relative;
        z-index: 1;
        transition: all 0.5s;
        &:hover {
            color: #ffffff !important;
            transition: all 0.5s;
        }
        &::after {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 100%;
            height: 1px;
            content: ".";
            color: transparent;
            background: $color01;
            visibility: none;
            opacity: 0;
            z-index: -1;
            transition: all 0.5s;
        }
        &:hover::after {
            opacity: 1;
            visibility: visible;
            height: 100%;
            transition: all 0.5s;
        }
    }
    .nav-link:last-child {
        margin-right: 0;
    }
    .navbar-div {
        width: 20px;
        height: 2px;
        background-color: #fff;
        transition: 1s;
    }
    button {
        &:focus {
            outline: none;
        }
    }
}
.nav-active {
    color: #fff !important;
    &::after {
        display: block !important;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        bottom: 0 !important;
        right: 0 !important;
        margin: auto !important;
        width: 100% !important;
        height: 1px !important;
        content: "." !important;
        color: transparent !important;
        background: $color01 !important;
        visibility: visible !important;
        opacity: 1 !important;
        z-index: -1 !important;
        height: 100% !important;
        transition: all 0.5s !important;
    }
}
.header-active {
    background-color: rgba(20, 23, 35, 0.95);
    color: #fff !important;
    transition: 1s;
    .navbar-div {
        background-color: $color01 !important;
        transition: 1s;
    }
    .nav-link {
        color: #bf9e7b;
    }
    .logo-text {
        transition: 1s;
    }
}

// .dropdown {
//     button {
//         background-color: transparent;
//         border: none;
//         padding: 5px 5px;
//         font-family: $font04;
//         font-size: 15px;
//         &:hover, &:active, &:focus {
//             background-color: transparent !important;
//             outline: none;
//             box-shadow: none;
//         }
        
//     }
// }
