#home {
    background-color: rgb(65, 65, 65);
    background-image: url(../../img/home/home-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.home-container {
    height: 100vh;
}
.HomeTextContainer {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    h1 {
        font-family: $font04;
        font-size: 55.7px;
        color: #bf9e7b;
    }
    h2 {
        font-family: $font04;
        font-size: 20px;
        color: #fff;

    }
}
