#home {
    background-color: rgb(65, 65, 65);
    height: 100vh;
    .bg-layer {
        background-color: rgba(0, 0, 0, 0.7);
        height: 100vh;
        }
}
.home-container-1 {
    height: 100vh;
    background-image: url(../../img/home/home-bg-test.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.home-container-2 {
    height: 100vh;
    background-image: url(../../img/home/home-bg-test-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.home-container-3 {
    height: 100vh;
    background-image: url(../../img/home/home-bg-test-3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.HomeTextContainer {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    h1 {
        font-family: $font04;
        font-size: 55.7px;
        color: $color01;
    }
    h2 {
        font-family: $font04;
        font-size: 20px;
        color: #fff;
    }
}
