#menu {
    background-color: $color02;
    // background-image: url(../../img/menu/menu-test-bg.jpg);
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    h1 {
        font-family: $font04;
        font-size: 55.7px;
        color: #bf9e7b;
        text-align: center;
    }
    h2 {
        font-family: $font03;
        font-size: 15px;
        color: #808080;
        text-align: center;
        width: 40%;
        margin: 0 auto;
        line-height: 2;


    }
    .menu-title {
        font-family: $font04;
        font-size: 25px;
        text-align: center;
        color: #bf9e7b;
        margin: 0 auto;
    }
}