#MenuItem {
    width: 100%;
    .menu-item-info {
        width: 100%;
        h3 {
            font-family: $font04;
            font-size: 15px;
            color: #ffffff;
        }
        p {
            font-family: $font03;
            font-size: 13px;
            color: #fff;
        }
    }
    .menu-item-price {
        font-family: $font04;
        font-size: 34.23px;
        color: #bf9e7b;
    }
    .menu-item-img {
        width: 100%;
        button {
            z-index: 9999999;
            cursor: zoom-in !important;
            &:focus {
                outline: none;
            }
        }
    }
}
