::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #141723;
}

::-webkit-scrollbar-thumb {
    background: $color01;
    &:hover {
        background: #ff0000;
    }
}
::selection {
    background-color: $color01;
    color: #fff;
}